@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Press+Start+2P');

html,
body{
  background: #00C853;
}
#displayBreak{
  margin-left: 310px;
}
#displayLength{
  margin-right:  310px;
}
#displayBreak, #displayLength{
  margin-top: 30px;
  padding: 30px 0;
  background: #FFFFFF;
  height: 170px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#displayBreak a, #displayLength a{
  color: #FFFFFF;
  margin: 0 4px;
}
.btn{
  background-color: #0e0e0d;
  color: #c8c1c1;
}
h4{
  display: inline;
  font-size: 34px;
}
#displayTimer{
  margin: 30px 310px;
  background: #FFFFFF;
  height: 200px;
  border-radius: 15px;
  padding: 30px 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
h3{
  font-size: 60px;
  font-family: 'Press Start 2P', cursive;
}
h1, h2{
  font-family: 'Lobster Two', cursive;
}
h1{
  font-size: 65px;
}
